
/* ----------------------*\
    #GLOBAL SETTINGS
\* ---------------------- */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-direction: column;
    margin: 15px auto;
    font-family: "OCR-A BT", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* BACKGROUND ANIMATION */
    background-image: linear-gradient(135deg, #8ac1ef, #ca6ce9, #8ac1ee,#e93356);
    animation:gradient 5s ease infinite;
    background-size: 400% 400%;
    width: 100%;
}
/* LOGO IMAGE */
 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    margin-top: 30px;
    cursor: pointer;
    
}
/* HEADER */
.header1 h2 {
    color: #191a19;
    margin: 5px 0px 10px 0px;
    font-size: 32px;
    font-family: "Tempus Sans ITC", sans-serif;
} 
.header {
    text-align: center;
} 
.header h2 {
    font-family: "Mistral", sans-serif;
    font-size: 28px;
    color: black;
    margin-bottom: 0;
} 
.header p {
    margin-top: 5px;
    color: #ff0000;
}
span {
    color: #0ff71b;
}
/* CLOCK  */
.clock {
    display: flex;
    margin-top: 5px;
}
.clock div {
    margin: 10px;
    position: relative;
}
.clock span {
    /* background: whitesmoke; */
    background: #b421e0;
    height: 80px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    /* text-shadow: 2px 1px 2px rgba(0,0,0,0.4); */
}

.clock .text {
    font-size: 12px;
    text-transform: uppercase;
    background-color: #e7d805;
    color: #000;
    height: 20px;
    opacity: 0.9;
    letter-spacing: 3px;
    font: bolder;
}
/* #ampm {
    font-size: 18px;
    height: 30px;
    width: 40px;
    position: absolute;
    background: blue;
    color: greenyellow;
} */
#seconds {
    color: #09f3f3;
}
/* LINK BUTTONS */
.socialsContainer {
    display: flex;
    padding-top: 30px;
    margin-bottom: 5px;
}
.socialsContainer span {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border-radius: 3px;
    padding: 3px 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.socialsContainer span:hover {
    transform: translateY(-5px);
}
/* .btn1 {
    background: #4242f1;
    color: #fff;
}
.btn4 {
    background: #e64141;
    color: #fff;
}
.btn2 {
    background: #ec7950;
    color: #fff;
}
.btn5 {
    background: grey;
}
.btn3 {
    background: green;
    color: #fff;
} */
/* WORK PARA ANIMATION */
.animate {
    content: url(./images/yana.png);
    position: absolute;
    bottom: 200px;
    left: -400px;
    width: 80px;
    animation: animate 9s linear infinite;
}
@keyframes animate {
    0% {left: -400px;}
    100% {left: 100%;}
}
.animate2 {
    content: url(./images/kuya.png);
    position: absolute;
    bottom: 160px;
    left: -400px;
    width: 80px;
    animation: animate2 10s linear infinite;
}
@keyframes animate2 {
    0% {left: -400px;}
    100% {left: 100%;}
}
.animate3 {
    content: url(./images/mommy.png);
    position: absolute;
    bottom: 190px;
    left: -400px;
    width: 80px;
    animation: animate2 11s linear infinite;
}
@keyframes animate3 {
    0% {left: -400px;}
    100% {left: 100%;}
}
.animate4 {
    content: url(./images/me.png);
    position: absolute;
    bottom: 150px;
    left: -400px;
    width: 80px;
    animation: animate2 12s linear infinite;
}
@keyframes animate4 {
    0% {left: -400px;}
    100% {left: 100%;}
}

/* FOOTER */
footer {
    text-align: center;
    display: block;
}
.footer1 {
    font-size: 12px;
    margin-bottom: 0;
    text-align: center;
}

.footer2 {
    font-size: 10px;
    margin-top: 2px;
    letter-spacing: 3px;
}
/* BACKGROUND ANIMATION */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position:100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} 

/* RESPONSIVENESS */
@media only screen and (max-width:576px) {
    img {
        margin-top: 2px;
    }
    .header1 h2 {
        font-size: 22px;
    }
    .clock span {
        width:80px;
        font-size: 50px;
    }
    .clock div {
        margin: 10px;
    }
    .container-btn {
        display: grid;
        grid-gap: 5px;
     }
     .container-btn button {
        padding: 6px 30px;
     }
}
